header {
	height:20%;
	padding: 10px;
	background-color: #C0C0C0;
}

.connexion {
	text-align: right;
}
.container {
	display: flex;
	flex-wrap: wrap;
	color: black;
	justify-content: space-around;
	background-color: #C0C0C0;
	font-weight: bold;
}

.cat {
	flex-basis: auto;
	white-space: nowrap;
	padding: 2%;
	font-size: 20;
	text-decoration: none;
	border-style: solid;
	border-width: 3px;
	border-color: #C0C0C0;
	border-radius: 10px;
}

.cat:visited {
	color: black;
}

.cat:hover {
	border-color: #ffe900;
}

.header_img {
	margin: 0;
	padding: 0;
	display:block;
	height: 95%;
	float:left;
}
