header {
	display: block;
	overflow: hidden;
	height: 20%;
	padding: 10px;
	background-color: #C0C0C0;
	font-size: 2vmin;
}

.connexion {
	text-align: right;
}
.container {
	display: flex;
	flex-wrap: wrap;
	color: black;
	justify-content: space-between;
	background-color: #C0C0C0;
	font-weight: bold;
}

.cat {
	flex-basis: auto;
	white-space: nowrap;
	padding: 2%;
	text-decoration: none;
	border-style: solid;
	border-width: 3px;
	border-color: #C0C0C0;
	border-radius: 10px;
}

.cat:visited {
	color: black;
}

.cat:hover {
	border-color: #ffe900;
}

.header_img {
	margin: 0;
	padding: 0;
	display:block;
	height: 95%;
	float:left;
}

button {
	background-color: #62B3AD;
	border: none;
	color: white;
	padding: 15px 32px;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	margin: auto;
	margin-top: 20px;
	display: block;
  border: 1px solid #404040;
}

input[type="submit"] {
	background-color: #62B3AD;
	border: none;
	color: white;
	padding: 15px 32px;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	margin: auto;
	margin-top: 20px;
	display: block;
	border: 1px solid #404040;
}

input[type=text], input[type=password] {
	width: 40%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	background: #B3DAD7;
	border: 1px solid #404040;
	border-radius: 4px;
	box-sizing: border-box;
}

select {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	background: #B3DAD7;
	border: 1px solid #404040;
	border-radius: 4px;
	box-sizing: border-box;
}