body {
	background-color: #D6EAF8;
}

h1 {
	text-align: center;
}

.header {
	background-color: #C0C0C0;
	text-align: right;
	font-size: 120%;
}

.btncat {
	margin: none;
	border: none;
	padding: none;
	background-color: lime;
	font-weight: bold;
	font-size: 300%;

}

.prod {
	display: none;
}

.prod a {
	display: block;
}

.cat:hover .prod {
	display: block;
}
